.divStyle {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

/* Mobile first design, Portrait displays under 48em/768px */
.formStyle {
  display: block;
  width: 32%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.popUp {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -40%);
}

.divTableButton {
  display: block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  transform: translate(+5%, +8%);
}

.divTableProfile {
  display: block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  transform: translate(+5%, +100%);
}

.divTable {
  display: block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  transform: translate(+2%, +10%);
}
table {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  vertical-align: top;
}
  
th {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  padding-bottom: 1rem;
}
  
td {
  text-align: left;  
  vertical-align: top;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
