.divStyle {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

/* Mobile first design, Portrait displays under 48em/768px */
.formStyle {
  display: block;
  width: 32%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.popUp {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -40%);
}

.divTable {
  width: 100%;
  height: 100vh;
  display: absolute;
  justify-content: flex-start;
  align-items: center;
}
  
table {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 10%;
  left: 10%;
}
  
th {
  text-align: top;
  position: relative;
}
  
td {
  text-align: top;
  position: relative;
  
}