.divStyle {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

/* Mobile first design, Portrait displays under 48em/768px */
.formStyle {
  display: block;
  width: 32%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.popUp {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -40%);
}

.divTable {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
table {
  border: 2px solid rgb(13, 69, 13);
  width: 75%;
  height: 75%;
}
  
th {
  border-bottom: 1px solid black;
  text-align: center;

}
  
td {
  text-align: center;
}